@font-face {
  font-family: 'Athelas Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Athelas-Regular.woff') format('woff');
}

html, body {
  height: 100%;
  background-color: #F4F4F8;
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: 'Athelas Regular';
}

body{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body > *{
  margin: 10px;
}
