@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.ttf') format('tff');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Medium.ttf') format('tff');
}

@font-face {
  font-family: 'Athelas Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Athelas-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Athelas Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Athelas-Italic.woff') format('woff');
}

html, body {
  height: 100%;
  background-color: #F4F4F8;
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: "Athelas Regular";
}

/* HEADER */

header{
  width: 100%;
  /*height: 31%;*/
  /*height: 13rem;*/
  min-height: 18vw;
  max-height: 22vw;
  height: 13rem;
  padding: 5% 7% 0;
  box-sizing: border-box;
  position: relative;
}

header nav{
  width: 86%;
  display: inline-block;
  z-index: 5;
  position: fixed;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  height: auto;
  width: auto;
  position: relative;
  min-width: 13%;
}


nav li.left { text-align: left; }

nav .right { text-align: right;}

nav ul li:before { content: "";
                   height: 0px;
                   width: 70%;
                   border-bottom: solid 1px black;
                   position: absolute;
                   bottom: 0px;
                   left: 0px; }

nav ul li a{
  display: block;
  color: #05303E;
  text-align: center;
  padding-bottom: 8px; padding: 0px;
  width: 100%;
  position: relative;
  text-decoration: none;
  margin: 0 15px;
  border-bottom: 0px solid #05303E;
}

nav ul li a:hover{
  color: #081FC1;
  font-family: "Athelas Italic";
}

nav ul li.active a{
  color: #081FC1;
  font-family: "Athelas Italic";
}

nav ul li.left a{
  padding-right: 41px;
}

nav ul li.right a{
  padding-left: 40px;
}

nav ul li.left{
  float:left;
}

nav ul li.right{
  float:right;
}




.nav_wrap { height: auto;
            width: 80%;
            position: fixed;
            top: 5.1%;
            left: 10%;
            overflow-y: auto;
            z-index: 500;
            }



.nav_link { height: auto;
            width: 13%;
            position: relative;
            display: inline;
            float: left;
            font-size: 14px;
            color: black;
            padding-bottom: 8px;
            margin-left: ;}


.nav_link:before { content: "";
                   height: 0px;
                   width: 50%;
                   position: absolute;
                   bottom: 0px;
                   border-bottom: solid 1px black;
                  }


.nav_link:nth-of-type(1):before,
.nav_link:nth-of-type(2):before { left: 0px; }

.nav_link:nth-of-type(3):before,
.nav_link:nth-of-type(4):before { right: 0px; }

.nav_link:nth-of-type(4):before { width: 60%; }


.nav_link:nth-of-type(1),
.nav_link:nth-of-type(2) { float: left;
                           text-align: left;
                            }





.nav_link:nth-of-type(3),
.nav_link:nth-of-type(4) { float: right;
                           text-align: right;
                          }



.nav_text { height: auto;
            width: 30%;
            position: fixed;
            top: 5.1%;
            left: 35%;
            font-size: 18px;
            color: black;
            text-align: center;
            z-index: 400;
            }



.logo{
  position:fixed;
  z-index: 4;
  width: 86%;
  margin-top: ;
  }


.logo > span {
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 11px;
    color: #05303E;
    letter-spacing: 2.5px;
}

.logo > img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

/* SECTION */

section {
  height: auto;
  width: auto;
  position: relative;
  margin: 0 5%;
  overflow-y: auto;
  /*display: flex;
  margin: 0 10%;
  flex-flow: row wrap;
  justify-content: center;*/
 }

.preview{
  height: 243px; 
  width: 48%;
  position: relative;
  display: inline;
  float: left;
  margin: 0px;
  padding: 0;
  margin-top: 2%;
  }

.preview:nth-of-type(-n+2) { margin-top: 0px; }

.preview:nth-of-type( 2n) { float: right; }

.preview:nth-of-type(odd) { float: ; }
/*
.preview:nth-of-type(even) { float: right; }
*/

/*
.preview>img {
  width: 100%;
  cursor: pointer;
  height: auto;
  transition: transform 0.5s ease;
}
*/

.prev_pic { height: 90%;
            width: 96%;
            position: relative;
            top: 5%;
            left: 2%;
            -webkit-transition: .25s ease;
            transition: .25s ease;
            -moz-transition: .25s ease;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #F9F9F9;
            overflow: hidden;
          }


.prev_pic img { height: auto;
                width: 100%;
                position: relative;
                -webkit-transition: .25s ease;
                transition: .25s ease;
                -moz-transition: .25s ease;
                }


.prev_pic:hover{
                 /*-ms-transform: scale(1.05, 1.05);
                 -webkit-transform: scale(1.05, 1.05);
                 transform: scale(1.05, 1.05);*/
                 height: 100%;
                 width: 100%;
                 top: 0px;
                 left: 0px;
                 -webkit-transition: .25s ease;
                 transition: .25s ease;
                 -moz-transition: .25s ease;
                 }


/*
.preview>img:hover{
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
*/

.preview>.text-box{
  border: 1px solid #05303E;
  background-color: #F3F3F7;
  padding: 10px;
  z-index: 2;
  width: 50%;
  position: absolute;
  top: -7%;
  left: 40%;
  font-size: 0.7em;
  display: inline-block;
  opacity: 0;
}

#scrollme {
  position: relative;
  cursor: pointer;
  margin: 17% 0 5%;
  display: ;
 }

#scrollme > img {
  width: 30px;
}

/* OVERLAY */

#overlay{
  position:fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,201, 0.95);
  z-index: 999;

  display: none;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

#overlay > .close-btn {
  display: inline-block;
  position: fixed;
  top: 5%;
  right: 5%;
}

#overlay > .right-arrow{
  position: fixed;
  right: 5%;
  top:50%;
  transform: translateY(-50%);
}

#overlay > .left-arrow{
  position: fixed;
  left: 5%;
  top:50%;
  transform: translateY(-50%);
}

#overlay > .left-arrow > img {
  transform: rotate(180deg);
}

#overlay > .title{
  font-family: HelveticaNeue-Medium;
  font-size: 26px;
  color: #EDF0F1;
  letter-spacing: 0.12px;
  padding-bottom: 15px;
  border-bottom: 2px solid #EDF0F1;
}

#overlay > video {
  width: 60%;
  margin: 3% 0;
}

#overlay > .description{
  /* A fear of death has: */
  font-family: Athelas-Regular;
  font-size: 14px;
  color: #EDF0F1;
  letter-spacing: 0.53px;
  border: 1px solid #FFFFFF;
  width: 40%;
  padding: 18px;
  text-align: center;
}
